########################################
# Gradle
########################################
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Сборки в src (если вдруг появятся)
**/src/**/build/
**/src/**/out/
**/src/**/bin/

########################################
# IntelliJ IDEA
########################################
.idea/
*.iws
*.iml
*.ipr

# Каталоги, создаваемые IDE
out/

########################################
# Java
########################################
*.class
*.log

########################################
# Allure
########################################
allure-results/
allure-report/

########################################
# Logs
########################################
*.log
logs/
log/

########################################
# OS files
########################################
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

########################################
# Archives
########################################
*.zip
*.7z
*.tar
*.gz

########################################
# Misc
########################################
*.tmp
*.swp
*.bak
